[tools]
python = "3.14"
uv = "latest"
pre-commit = "latest"
kubectl = "latest"
node = "22.22.0"
pnpm = "latest"

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["python"]

[hooks]
enter = "bash ./scripts/enter_project.sh"

[env]
_.file = '.env'       # for sensitive data
UV_LINK_MODE = "copy"

[tasks.docs]
run = "uv run zensical serve"
description = "Serve the documentation locally"

[tasks.kind-up]
run = "bash ./scripts/create-kind-cluster.sh"
description = "Create and configure a local kind Kubernetes cluster"

[tasks.kind-down]
run = "bash ./scripts/delete-kind-cluster.sh"
description = "Delete the local kind Kubernetes cluster"
