[tools]
python = "3.14"
uv = "latest"
pre-commit = "latest"

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["python"]

[hooks]
enter = "bash ./scripts/enter_project.sh"

[env]
_.file = '.env'       # for sensitive data
UV_LINK_MODE = "copy"
