[tools]
python = "3.14"
node = "22.22.0"
uv = "latest"
pnpm = "latest"
pre-commit = "latest"
markdownlint-cli2 = "latest"
aws-cli = "latest"
kubectl = "latest"
terraform = "latest"
terraform-docs = "latest"
tflint = "latest"
# checkov = "latest"

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["python"]

[hooks]
enter = "bash ./scripts/enter_project.sh"

[env]
_.file = '.env'       # for sensitive data
UV_LINK_MODE = "copy"

[tasks.docs]
run = "uv run zensical serve"
description = "Serve the documentation locally"

[tasks.kind-up]
run = "bash ./scripts/create-kind-cluster.sh"
description = "Create and configure a local kind Kubernetes cluster"

[tasks.kind-down]
run = "bash ./scripts/delete-kind-cluster.sh"
description = "Delete the local kind Kubernetes cluster"

[tasks.bootstrap-aws-tf-backend]
run = "bash ./scripts/bootstrap-terraform-backend.sh"
description = "Bootstrap Terraform backend (S3 + DynamoDB) for state management"
